@model App.Models.Classes.Room
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = @Model.RoomName;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd> <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Sửa</a> |
    <a asp-action="Index">Danh sách phòng tập</a>
</div>

@{
    _AdminSidebarService.SetActive("Room", "Details", "Class");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}