@model App.Models.Classes.Class
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = @Model.ClassTitle;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassId">Sửa</a> |
    <a asp-action="Index">Danh sách khóa tập</a>
</div>

@{
    _AdminSidebarService.SetActive("Class", "Details", "Class");
}
@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}