@model App.Models.Products.Category
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Danh mục sản phẩm</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class = "col-sm-2">
            Url
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Danh sách danh mục sản phẩm</a>
</div>

@{
    _AdminSidebarService.SetActive("Category", "Details", "Product");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}